@media screen and (min-width: 1000px) {
    h1{
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 2rem;
    }
    
    h2{
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 2rem;
    }
    
    h3{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 1.5rem;
    }
    
    h4{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1.125rem;
    }
    
    h5{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1rem;
    }
    
    h6{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: .875rem;
    }
  }

@media screen and (min-width: 750px) {
    h1{
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 1.5rem;
    }
    
    h2{
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 1.5rem;
    }
    
    h3{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 1.125rem;
    }
    
    h4{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: .95rem;
    }
    
    h5{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: .75rem;
    }
    
    h6{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: .650rem;
    }
}

@media screen and (min-width: 0px) {
    h1{
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 1.2rem;
    }
    
    h2{
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 1.2rem;
    }
    
    h3{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: .850rem;
    }
    
    h4{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: .8rem;
    }
    
    h5{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: .75rem;
    }
    
    h6{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: .650rem;
    }
}

