* {
  margin: 0;
  padding: 0;
}

.bg {
  width: 100%;
  height: 75%;
  position: absolute;
  z-index: -1;
}

hr {
  width: 150px;
  margin: auto;
  border-color: #FF758A;
  fill: #FF758A;
  color: #FF758A;
  margin-bottom: 20px;
}

header {
  color: #F9F9F9;
  padding: 0 10%;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

header .nav .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav .tabs h6 {
  margin-left: 30px;
}

header .nav .tabs h5 {
  font-weight: 500;
  margin-left: 40px;
}

header .nav button {
  padding: 9px 27px;
  border-radius: 10px;
  border: none;
  background-color: white;
}

header .nav button h5 {
  color: #2EA8F5;
}

header .main {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 72px;
}

header .main h5 {
  margin-top: 16px;
  margin-bottom: 50px;
}

header .main .main-img {
  width: 573px;
  height: 321px;
  margin-bottom: 45px;
}

header .main .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

header .main .partner-img {
  min-width: 150px;
  margin: 0px 40px;
}

@media screen and (max-width: 1281px) {
  .bg {
    width: 100%;
    height: 80%;
  }
  header .nav .tabs {
    display: none;
  }
  header .main {
    margin-top: 30px;
  }
  header .main .main-img {
    max-width: 80vw;
    height: auto;
    margin-bottom: 20px;
  }
  header .main .partners {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .main .partners .partner-img {
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .bg {
    width: 100%;
    height: 60%;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #232323;
  margin: auto;
}

.features .title-line {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 95px;
}

.features .title-line .bold-text {
  font-weight: 700;
}

.features .features-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 220px;
}

.features .features-cards .feature-card {
  width: 255px;
  min-height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding: 0px 30px;
  text-align: center;
  -webkit-box-shadow: 5px 7px 10px 2px rgba(128, 206, 249, 0.14);
          box-shadow: 5px 7px 10px 2px rgba(128, 206, 249, 0.14);
}

.features .features-cards .feature-card img {
  height: 65px;
  width: 65px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.features .features-cards .feature-card h6 {
  margin-bottom: ll60px;
  margin-top: 50px;
}

@media screen and (max-width: 1281px) {
  .features .features-cards {
    margin-bottom: 100px;
  }
}

.abouts {
  padding: 0 10%;
  margin-bottom: 250px;
}

.abouts .about-bg {
  position: absolute;
  z-index: -1;
  max-width: 616px;
  max-height: 706px;
}

.abouts .right {
  right: 0;
}

.abouts .left {
  left: 0;
}

.abouts .about {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.abouts .about .about-img {
  max-width: 50%;
}

.abouts .about .text {
  max-width: 410px;
  font-family: 'Poppins';
  font-size: 1.5rem;
  font-weight: 400;
}

.abouts .about .text p {
  word-spacing: .2rem;
}

.abouts .about .text .main-about-text {
  font-weight: 700;
  color: #2EA8F5;
}

.abouts .about .text h4 {
  opacity: 75%;
}

.abouts .about-1 {
  margin-bottom: 200px;
}

.abouts .about-2 {
  margin-bottom: 130px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 1281px) {
  .abouts .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .abouts .about .text {
    margin-top: 50px;
    text-align: center;
  }
  .abouts .about .text h4 {
    margin-top: 20px;
  }
}

.fun-fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 10%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.fun-fact .fun-fact-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 350px;
  max-width: 500px;
  position: relative;
  left: -15px;
  margin-right: 150px;
}

.fun-fact hr {
  margin: 0;
}

.fun-fact .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  width: 22vw;
  color: #232323;
}

.fun-fact h1 {
  color: #2EA8F5;
}

.fun-fact span {
  font-weight: 300;
  color: #232323;
}

@media screen and (max-width: 1000px) {
  .fun-fact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .fun-fact .fun-fact-img {
    position: static;
    margin: 0;
    margin-bottom: 40px;
    max-width: 80vw;
  }
  .fun-fact .text {
    width: 50%;
  }
  .fun-fact .text hr {
    margin: auto;
    margin-bottom: 25px;
  }
}

.team {
  margin: 0 10%;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .team-img {
  border-radius: 15px;
  -webkit-box-shadow: 5px 7px 10px 2px rgba(128, 206, 249, 0.14);
          box-shadow: 5px 7px 10px 2px rgba(128, 206, 249, 0.14);
  margin: auto;
  margin-top: 65px;
}

.team .team-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80vw;
}

.team img {
  width: 320px;
  border-radius: 15px;
}

.team .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
}

.team .text h4 {
  font-weight: 700;
}

.team .text h6 {
  color: #8E8E8E;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 10%;
  margin-bottom: 100px;
}

.reviews .team-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80vw;
}

.reviews .team-imgs .team-img {
  border-radius: 15px;
  -webkit-box-shadow: 5px 7px 10px 2px rgba(128, 206, 249, 0.14);
          box-shadow: 5px 7px 10px 2px rgba(128, 206, 249, 0.14);
  min-height: 450px;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 60px;
  padding: 25px 0;
}

.reviews .team-imgs .team-img img {
  width: 100px;
}

.reviews .team-imgs .team-img h4 {
  color: #2EA8F5;
  font-weight: 700;
}

.reviews .team-imgs .team-img h5 {
  color: #8E8E8E;
  padding-right: 30px;
  padding-left: 30px;
}

.reviews .team-imgs .team-img h6 {
  color: #8E8E8E;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 250px;
  background-color: #2EA8F5;
}

.footer h2 {
  margin: auto;
  color: #F9F9F9;
}
/*# sourceMappingURL=style.css.map */